schema/LogCollectionPortTypeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schemas.cisco.com/ast/soap"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    targetNamespace="http://schemas.cisco.com/ast/soap">
    <wsdl:documentation>LogCollectionPortTypeService</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
            elementFormDefault="qualified" targetNamespace="http://schemas.cisco.com/ast/soap">
            <xsd:element name="FileName" type="string" />
            <xsd:element xmlns:xmime="http://www.w3.org/2005/05/xmlmime" name="GetOneFileReturn"
                type="base64Binary" xmime:expectedContentTypes="*/*" />
            <xsd:element name="LocalHost" type="string" />
            <xsd:element name="TimeZone" type="string" />
            <xsd:element name="listNodeServiceLogs">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ListRequest" type="tns:ListRequest" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="ListRequest">
                <xsd:simpleContent>
                    <xsd:extension base="string" />
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:element name="listNodeServiceLogsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" name="listNodeServiceLogsReturn"
                            type="tns:NodeServiceLogList" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="NodeServiceLogList">
                <xsd:sequence>
                    <xsd:element name="name" nillable="true" type="string" />
                    <xsd:element name="ServiceLog" nillable="true" type="tns:ArrayOfServiceLog" />
                    <xsd:element name="SystemLog" nillable="true" type="tns:ArrayOfSystemLog" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="selectLogFiles">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="FileSelectionCriteria"
                            type="tns:SchemaFileSelectionCriteria" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="SchemaFileSelectionCriteria">
                <xsd:sequence>
                    <xsd:element name="ServiceLogs" nillable="true" type="tns:ArrayOfServiceLog" />
                    <xsd:element name="SystemLogs" nillable="true" type="tns:ArrayOfSystemLog" />
                    <xsd:element name="SearchStr" nillable="true" type="string" />
                    <xsd:element name="Frequency" nillable="true" type="tns:Frequency" />
                    <xsd:element name="JobType" nillable="true" type="tns:JobType" />
                    <xsd:element name="ToDate" nillable="true" type="string" />
                    <xsd:element name="FromDate" nillable="true" type="string" />
                    <xsd:element name="TimeZone" nillable="true" type="string" />
                    <xsd:element name="RelText" nillable="true" type="tns:RelText" />
                    <xsd:element name="RelTime" type="byte" />
                    <xsd:element name="Port" type="byte" />
                    <xsd:element name="IPAddress" nillable="true" type="string" />
                    <xsd:element name="UserName" nillable="true" type="string" />
                    <xsd:element name="Password" nillable="true" type="string" />
                    <xsd:element name="ZipInfo" type="boolean" />
                    <xsd:element name="RemoteFolder" nillable="true" type="string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfServiceLog">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfSystemLog">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="File">
                <xsd:sequence>
                    <xsd:element name="name" nillable="true" type="string" />
                    <xsd:element name="absolutepath" nillable="true" type="string" />
                    <xsd:element name="filesize" nillable="true" type="string" />
                    <xsd:element name="modifiedDate" nillable="true" type="string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfFile">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="File" nillable="true"
                        type="tns:File" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ServiceLogs">
                <xsd:sequence>
                    <xsd:element name="name" nillable="true" type="string" />
                    <xsd:element name="SetOfFiles" nillable="true" type="tns:ArrayOfFile" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfServiceLogs">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="ServiceLogs"
                        nillable="true" type="tns:ServiceLogs" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SchemaFileSelectionResult">
                <xsd:sequence>
                    <xsd:element name="Node" nillable="true" type="tns:Node" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Schedule">
                <xsd:sequence>
                    <xsd:element name="id" nillable="true" type="string" />
                    <xsd:element name="EndTime" nillable="true" type="string" />
                    <xsd:element name="FrequencyType" nillable="true" type="string" />
                    <xsd:element name="NodeName" nillable="true" type="string" />
                    <xsd:element name="StartTime" nillable="true" type="string" />
                    <xsd:element name="Status" nillable="true" type="string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfSchedule">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Schedule"
                        type="tns:Schedule" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="selectLogFilesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ResultSet" type="tns:ResultSet" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="ResultSet">
                <xsd:sequence>
                    <xsd:element name="SchemaFileSelectionResult"
                        type="tns:SchemaFileSelectionResult" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="Frequency">
                <xsd:restriction base="string">
                    <xsd:enumeration value="OnDemand" />
                    <xsd:enumeration value="Weekly" />
                    <xsd:enumeration value="Monthly" />
                    <xsd:enumeration value="Daily" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="JobType">
                <xsd:restriction base="string">
                    <xsd:enumeration value="DownloadtoClient" />
                    <xsd:enumeration value="PushtoSFTPServer" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="RelText">
                <xsd:restriction base="string">
                    <xsd:enumeration value="None" />
                    <xsd:enumeration value="Minutes" />
                    <xsd:enumeration value="Hours" />
                    <xsd:enumeration value="Weeks" />
                    <xsd:enumeration value="Months" />
                    <xsd:enumeration value="Days" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="Node">
                <xsd:sequence>
                    <xsd:element name="name" nillable="true" type="string" />
                    <xsd:element name="ServiceList" nillable="true" type="tns:ArrayOfServiceLogs" />
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetOneFileRequest">
        <wsdl:part name="FileName" element="tns:FileName" />
    </wsdl:message>
    <wsdl:message name="GetOneFileResponse">
        <wsdl:part name="GetOneFileReturn" element="tns:GetOneFileReturn" />
    </wsdl:message>
    <wsdl:message name="listNodeServiceLogsRequest">
        <wsdl:part name="parameters" element="tns:listNodeServiceLogs" />
    </wsdl:message>
    <wsdl:message name="listNodeServiceLogsResponse">
        <wsdl:part name="parameters" element="tns:listNodeServiceLogsResponse" />
    </wsdl:message>
    <wsdl:message name="selectLogFilesRequest">
        <wsdl:part name="parameters" element="tns:selectLogFiles" />
    </wsdl:message>
    <wsdl:message name="selectLogFilesResponse">
        <wsdl:part name="parameters" element="tns:selectLogFilesResponse" />
    </wsdl:message>
    <wsdl:message name="getTimeZoneRequest">
        <wsdl:part name="localhost" element="tns:LocalHost" />
    </wsdl:message>
    <wsdl:message name="getTimeZoneResponse">
        <wsdl:part name="getTimeZone" element="tns:TimeZone" />
    </wsdl:message>
    <wsdl:portType name="LogCollectionPortTypeServicePortType">
        <wsdl:operation name="GetOneFile">
            <wsdl:input message="tns:GetOneFileRequest" wsaw:Action="GetOneFile" />
            <wsdl:output message="tns:GetOneFileResponse"
                wsaw:Action="http://schemas.cisco.com/ast/soap/LogCollectionPortType/GetOneFileResponse" />
        </wsdl:operation>
        <wsdl:operation name="listNodeServiceLogs">
            <wsdl:input message="tns:listNodeServiceLogsRequest" wsaw:Action="listNodeServiceLogs" />
            <wsdl:output message="tns:listNodeServiceLogsResponse"
                wsaw:Action="http://schemas.cisco.com/ast/soap/LogCollectionPortType/listNodeServiceLogsResponse" />
        </wsdl:operation>
        <wsdl:operation name="selectLogFiles">
            <wsdl:input message="tns:selectLogFilesRequest" wsaw:Action="selectLogFiles" />
            <wsdl:output message="tns:selectLogFilesResponse"
                wsaw:Action="http://schemas.cisco.com/ast/soap/LogCollectionPortType/selectLogFilesResponse" />
        </wsdl:operation>
        <wsdl:operation name="getTimeZone">
            <wsdl:input message="tns:getTimeZoneRequest" wsaw:Action="getTimeZone" />
            <wsdl:output message="tns:getTimeZoneResponse"
                wsaw:Action="http://schemas.cisco.com/ast/soap/LogCollectionPortType/getTimeZoneResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LogCollectionPortSoapBinding"
        type="tns:LogCollectionPortTypeServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="GetOneFile">
            <soap:operation soapAction="GetOneFile" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listNodeServiceLogs">
            <soap:operation soapAction="listNodeServiceLogs" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="selectLogFiles">
            <soap:operation soapAction="selectLogFiles" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTimeZone">
            <soap:operation soapAction="getTimeZone" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LogCollectionPortTypeService">
        <wsdl:port name="LogCollectionPort" binding="tns:LogCollectionPortSoapBinding">
            <soap:address
                location="https://localhost:8443/logcollectionservice2/services/LogCollectionPortTypeService" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>